<link href="/static/css/map.css" rel="stylesheet">

<div id='map-view'>

  <!-- menu-container is hidden until done loading - at which point loading-map-container hidden -->
  <div id='loading-map-container'></div>
  <div style="display:none" ng-include="'/static/menu/menu.html'" id='menu-container'></div>

  <div id='main-view-container'>


    <div id="key">
      <img src="/static/icon/pin_mkt.png" class='key-icon'>
      <span class='key-title'>Market</span>
      <img src="/static/icon/pin_ebt.png" class='key-icon'>
      <span class='key-title'>EBT</span>
    </div>

    <div id="map-canvas"></div>


  <div class='hidden' id='market-info-outter-container'>
    <span ng-click="hideMarketInfo()" class='close-btn btn'>X</span>
    
    <div id='market-info-container'>

      <h1 id='market-name'>MARKET NAME FARMER'S MARKET</h1>
      <p id='market-location'>LOCATION</p> 
      <p id='market-county'>COUNTY</p>
      <p id='market-zipcode'>ZIPCODE</p>

      <div id='directions-header-container'>
        <h2 id='directions-title'>DIRECTIONS</h2>
        <img ng-click="getDirections('WALKING')" class='directions-icon' src="/static/icon/walking.png">
        <img ng-click="getDirections('DRIVING')" class='directions-icon' src="/static/icon/car-front.png">
        <img ng-click="getDirections('BICYCLING')" class='directions-icon' src="/static/icon/bike.png">
        <img ng-click="getDirections('TRANSIT')" class='directions-icon' src="/static/icon/train.png">
      </div>

      <div id="directions-container">
        <span ng-click="hideDirections()" class='close-btn btn'>X</span>
        <div id="directions-panel"></div>
      </div>


      <!-- TODO uncomment and Market.prototype.setOpenClosedStatus -->
      <!-- <h2 id='open-closed-title'>OPEN | CLOSED</h2> -->
      <table id='hours-table'>
        <tr id='day-names-row'>
          <td id='day-name-0'>SUN</td>
          <td id='day-name-1'>MON</td>
          <td id='day-name-2'>TUE</td>
          <td id='day-name-3'>WED</td>
          <td id='day-name-4'>THU</td>
          <td id='day-name-5'>FRI</td>
          <td id='day-name-6'>SAT</td>
        </tr>
        <tr id='day-hours-row'>
          <td id='day-hours-0'>8:30am - 6:30pm</td>
          <td id='day-hours-1'>DAY</td>
          <td id='day-hours-2'>DAY</td>
          <td id='day-hours-3'>DAY</td>
          <td id='day-hours-4'>8:30am - 6:30pm</td>
          <td id='day-hours-5'>DAY</td>
          <td id='day-hours-6'>DAY</td>
        </tr>
      </table>
      <p id='operation-hours'>operation-hours if bad-hours-data</p>
      <p id='operation-months'>operation-months</p>


      <!-- hidden if market does not have this payment option -->
      <h2 class='market-payment-option' id='market-EBT'>EBT</h2>
      <h2 class='market-payment-option' id='market-FMNP'>FMNP</h2>
      <h2 class='market-payment-option' id='market-WIC'>WIC</h2>


      <!-- disclaimer on hours data w/ link to market website (if in data) - requested by growNYC -->
      <p id='market-hours-disclaimer'>NOTE: Hours &amp; location are subject to change.</p>
      <!-- hidden if market does not have link in data -->
      <p id='market-link'>
        For updated hours &amp; location, visit this market's website 
        <a target="_blank" id='market-link-tag' href=""></a>
      </p>


    </div>
  </div>
  </div> <!-- main-view-container -->



</div>