/********************************************************************************
#--------------------------------------------------------------------------------
#
# 	Author: Alexandra Berke (aberke)
# 	Written: Summer 2014
#
#
	colors:
		beige: #f9f4e5;
		grey: #56555a;
		green: #22b473;
#--------------------------------------------------------------------------------
#********************************************************************************/


* {
	margin: 0;
	padding: 0;
	border: none;
	/*defined font in stylesheet loaded from google*/
	font-family: 'Cabin Condensed', sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	position: absolute; /*to avoid gaps between map canvas and body*/
}
.btn {
	cursor: pointer;
}


/*shown until google maps loads*/
#loading-map-container {
	text-align: center;
	padding: 100px 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #f9f4e5;
	color: #002c45;
	z-index: 100;
}

/*behind loading-map until google maps loads*/

#map-canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}



/*- key ----------- */

#key {
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	font-size: 13px;
	padding: 2px 2px 0px 5px;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid gray;
	border-bottom: none;
	border-right: none;
}
.key-icon {
	width: 16px;
}
.key-title {
	display: inline-block;
	vertical-align: top;
	margin: 6px 0;

}
/*----------- key - */

/*- info -----------*/
#get-directions-button {
	right: 0;
}
#show-info-button, #get-directions-button {
	position: absolute;
	background-color: yellow;
	padding: 5px;
}
#market-info-outter-container {
	display: none;
	position: absolute;
	bottom: 0;
	overflow: auto;
	height: 45%;
	width: 100%;
	background-color: #f9f4e5;
	z-index: 3; /* 1 more than key*/
}
#market-info-container {
	margin: 10px;
}
.close-btn {
	float: right;
	padding: 10px;
}
#market-info-container h1,
#market-info-container h2 {
	font-size: 18px;
}
#market-info-container h1 {
	color: #22b473;
}
#market-info-container h2 {
	color: black;
}
#market-info-container p {
	color: #56555a;
	font-size: 15px;
}
#market-info-container p#market-county,
#market-info-container p#market-zipcode {
	display: inline-block;
	margin-right: 2px;
}
#directions-header-container {
	margin: 5px 0;
}
#directions-title {
	display: inline-block;
	margin: 7px 0;
}
.directions-icon {
	display: inline-block;
	float: right;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	border: 3px solid black;
	padding: 4px;
	background-color: white;
	margin-left: 6px;
}
#directions-container {
	margin-bottom: 20px;
}
#hours-table {
	border-spacing: 0;
	background-color: white;
	border-radius: 8px;
	width: 100%;
}
#hours-table td{
	text-align: center;
	border-right: 2px solid #56555a;
	padding: 2%;
	width: 5%;
}
#hours-table td:last-child {
	border-right: none;
}
#hours-table td.open {
	background-color: #22b473;
}
#hours-table #day-names-row td {
	font-size: 15px;
	font-weight: bold;
	border-bottom: 2px solid #56555a;
}
#hours-table #day-hours-row td {
	font-size: 12px;
}
#hours-table tr#day-names-row td:first-child {
	border-top-left-radius: 8px;
}
#hours-table tr#day-hours-row td:first-child {
	border-bottom-left-radius: 8px;
}
#hours-table tr#day-names-row td:last-child {
	border-top-right-radius: 8px;
}
#hours-table tr#day-hours-row td:last-child {
	border-bottom-right-radius: 8px;
}


/*----------- info -*/


