<div class="view-wrapper admin-view" ng-class="{'menu-active': view.menuActive, 'search-active': view.searchActive, }">
	<header>
		<div class="toolBar">
			<div class="menu" 
				ng-class="{'menu-active': view.menuActive}" 
				ng-click="view.menuActive = !view.menuActive"><i></i></div>
			<div class="search icon btn"
				 ng-click="view.searchActive = !view.searchActive"></div>
			<!-- <div class="edit icon btn"></div> -->
		</div>
		<input type="text" placeholder="Type here to search">
		<h1>Dashboard</h1>
		<div class="roundBtn plus icon"></div>
	</header>
	<main>
		<ul class="markets">
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
		</ul>
	</main>
</div>