<div class="view-wrapper" ng-class="{'menu-active': view.menuActive}">
	<header>
		<div class="toolBar">
			<div class="menu" 
				ng-class="{'menu-active': view.menuActive}" 
				ng-click="view.menuActive = !view.menuActive"><i></i></div>
			<div class="search btn"></div>
			<!-- <div class="edit btn"></div> -->
		</div>
		<h1>Dashboard</h1>
		<div class="roundBtn plus"></div>
	</header>
	<main>
		<ul class="markets">
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
			<li>
				<h3>Tompkins Square Greenmarket</h3>
				<h4>
					E 7th St & Ave A<br/>
					Manhattan 10009
				</h4>
			</li>
		</ul>
	</main>
</div>