/********************************************************************************
#--------------------------------------------------------------------------------
#
# 	Author: Alexandra Berke (aberke)
#
#
	colors:
		beige: #f9f4e5;
		grey: #56555a;
		green: #22b473;
#--------------------------------------------------------------------------------
#********************************************************************************/


* {
	margin: 0;
	padding: 0;
	border: none;
	/*defined font in stylesheet loaded from google*/
	font-family: 'Cabin Condensed', sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	position: absolute; /*to avoid gaps between map canvas and body*/
	overflow: hidden;
	background-color: #22b473;
}

h1 {
	color: white;
	text-align: center;
	margin: 50px auto;
}

