/********************************************************************************
#--------------------------------------------------------------------------------
#
# 	Author: Alexandra Berke (aberke)
#
#
	colors:
		beige: #f9f4e5;
		grey: #56555a;
		green: #22b473;#C4E71E
#--------------------------------------------------------------------------------
#********************************************************************************/
$font: 'Roboto', sans-serif;
// $highlightColor: rgb(196, 231, 30);
// $darkHighlightColor: rgb(117, 183, 85);
// $gradientColor1: rgb(37, 136, 140);
// $gradientColor2: rgb(71, 169, 173);
// $gradientColor3: rgb(129, 179, 181);
// $gradientColor4: rgb(182, 195, 195);

$highlightColor: #FFD740;
$darkHighlightColor: #e0b12d;
$gradientColor1: #1B905C;
$gradientColor2: #22b473;
$gradientColor3: #5abab3;
$gradientColor4: #B6C3C3;
$bodyTextBlack : #4c4c4c;
$headerHeight : 60px;
$footerHeight : 60px;

$animation: 0.3s;

$menuHeight : 60px;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l5ockb');
	src:url('../fonts/icomoon.eot?#iefixl5ockb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?l5ockb') format('woff'),
		url('../fonts/icomoon.ttf?l5ockb') format('truetype'),
		url('../fonts/icomoon.svg?l5ockb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'google-material-icons';
	src:url('../fonts/google-material-icons.eot?-9u9o05');
	src:url('../fonts/google-material-icons.eot?#iefix-9u9o05') format('embedded-opentype'),
		url('../fonts/google-material-icons.woff?-9u9o05') format('woff'),
		url('../fonts/google-material-icons.ttf?-9u9o05') format('truetype'),
		url('../fonts/google-material-icons.svg?-9u9o05#google-material-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@mixin icomoon($content) {
	content: $content;
  	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin gmi($content) {
	content: $content;
	font-family: 'google-material-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.edit.icon {
	&::before {
		@include gmi('\e69e');
	}
}
.search.icon {
	&::before {
		@include gmi('\e83b');
	}
}
.plus.icon {
	&::before {
		@include gmi('\e60b');
	}
}
.back.icon {
	&::before {
		@include gmi('\e61e');
	}
}
.address.icon {
	&::before {
		@include icomoon('\e893');
	}
}
.schedule.icon {
	&::before {
		@include icomoon('\e61e');
	}
}
.season.icon {
	&::before {
		@include icomoon('\e829');
	}
}
.program.icon {
	&::before {
		@include icomoon('\e617');
	}
}
.contact.icon {
	&::before {
		@include gmi('\e7e5');
	}
}
.github.icon {
	&::before {
		@include icomoon('\f140');
	}
}

.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: $bodyTextBlack;
	font-family: $font; 
}
h1, h2, h3, h4, h5 {
	font-weight: 400;
}
h1 {
	font-size: 35px;
	line-height: 40px;
	text-align: left;
}
h2 {
	font-size: 24px;
	line-height: 28px;
}
h3 {
	font-size: 18px;
	color: $bodyTextBlack;
	line-height: 20px;
}
h4 {
	font-size: 16px;
	color: #999999;
	line-height: 20px;
}
h6 {
	font-weight: 900;
	font-size: 10px;
	color: #999999;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
a {
	text-decoration: none;
	color: $gradientColor1;
	border-bottom: solid 1px rgba($gradientColor1, 0.56);
}
input {
	font-family: $font;
	color: #ffffff;
	background-color: transparent;
	border: none;
}
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.87);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.87);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.87);  
}

:-ms-input-placeholder {  
   color: rgba(255,255,255,0.87);  
}
.roundBtn {
	cursor: pointer;
	height: 56px;
	width: 56px;
	border-radius: 100%;
	background: $highlightColor;
	-moz-box-shadow:    0px 2px 10px 0px rgba(0,0,0,0.16), 0px 2px 5px 0px rgba(0,0,0,0.26);
	box-shadow:         0px 2px 10px 0px rgba(0,0,0,0.16), 0px 2px 5px 0px rgba(0,0,0,0.26);
	&::before {
		color: #ffffff;
		display: block;
		font-size: 36px;
		line-height: 56px;
		width: 56px;
		text-align: center;
	}
	&.plus::before {
		font-size: 36px;
	}
	&.edit::before {
		font-size: 32px;
	}
}
/********************view ****************/
.view {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: absolute;
	.view-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		-webkit-transition: all $animation ease-in;
		-o-transition: all $animation ease-in;
		transition: all $animation ease-in;
		&.menu-active {
			-webkit-transform: translateX(75%);
			-ms-transform: translateX(75%);
			-o-transform: translateX(75%);
			transform: translateX(75%);
		}
	}
	.map-view header {
		z-index: 999999;
		background-color: rgba($gradientColor2, 0.7);
	}

	.search-active header input {
		display: block;
	}
	
	header {
		height: auto;
		background-color: $gradientColor2;
		color: #ffffff;
		position: relative;
		.toolBar {
			height: 60px;
			width: 100%;	
			.btn {
				float: right;
				margin: 10px 10px 10px 0;
				width: 40px;
				height: 40px;
				cursor: pointer;
			}			
			.btn::before {
				line-height: 40px;
				font-size: 26px;
				display: block;
				text-align: center;
			}
			.edit.btn::before {
				font-size: 24px;
			}
			.back.icon {
				font-size: 26px;
				position: absolute;
				top: 10px;
				left: 10px;
				width: 40px;
				height:  40px;
				cursor: pointer;
				&::before {
					text-align: center;
					line-height: 40px;
				}
			}
			
		}
		input {
			font-size: 35px;
			padding: 10px 20px 10px 72px;
			width: 100%;
			box-sizing: border-box;
			background-color: $gradientColor2;
			position: absolute;
			display: none;
		}
		h1 {
			padding: 12px 16px 28px 72px;
			color: rgba(255,255,255,0.87); 
		}
		h2 {
			padding: 12px 16px 28px 72px;
			color: rgba(255,255,255,0.87); 
		}
		.roundBtn {
			position: absolute;
			bottom: -28px;
			right: 20px;
		}
	}
	main {
		ul.markets {
			font-family: $font;
			padding-top: 24px;
			li {
				padding: 16px 16px 16px 72px;
				position: relative;
				cursor: pointer;
				&::before {
					@include gmi('\e69e');
					width: 72px;
					position: absolute;
					left: 0;
					top: 0;
					line-height: 96px;
					font-size: 24px;
					color: $gradientColor4;
					text-align: center;
				}
				h3 {
				}
				h4 {
					padding-top: 5px;
					padding-bottom: 15px;
					// border-bottom: solid 1px $gradientColor4;
				}
			}
		}
		div.market {
			padding-top: 28px;
			position: relative;
			.icon {
				padding: 0px 16px 16px 72px;
				position: relative;
				&.schedule::before {
					font-size: 20px;
				}
			}
			.icon::before {
				width: 72px;
				position: absolute;
				left: 0;
				top: 0;
				line-height: 96px;
				font-size: 18px;
				color: $gradientColor4;
				text-align: center;
			}
			.icon::after {
				content: '';
				background-color: #DDDDDD;
				height: 1px;
				width: 100%;
				display: block;
				margin-top: 15px;
				padding-right: 16px;
			}
			h6 {
				margin-bottom: 8px;
			}
			table {
				display: block;	
			    border-bottom: 0;
			    border-spacing: 0;
				tr {
					width: 100%;
				}
				th {
					text-align: left;
					font-weight: 400;
					font-size: 14px;
					color: $bodyTextBlack;
					line-height: 18px;
					padding-top: 3px;
					padding-bottom: 3px;
					padding-right: 20px;
				}
				td {
					line-height: 18px;
					padding-top: 3px;
					padding-bottom: 3px;
					word-break: break-all;
				}
			}
			.program td {
				padding-right: 50px;
			}
		}
	}
	
	.detail-view main {
	}

}
/********************view.menu ****************/
.menu-wrapper {
	z-index: 9999;
	position: absolute;
	width: 75%;
	height: 100%;
	left: -75%;
	background-color: $gradientColor1;
	box-sizing: border-box;
	transition: all $animation ease-in;
	&.menu-active {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	ul {
		color: #ffffff;
		span {
			color: rgba(255,255,255,0.87);
			line-height: 80px;
			font-size: 28px;
			padding-left: 20px;
			font-weight: 300;
			display: block;
			border-bottom: solid 1px $gradientColor2;
		}
		> li,
		> a {
			cursor: pointer;
			color: #ffffff;
			display: block;
			line-height: 50px;
			border-bottom: solid 1px $gradientColor2;
			padding-left: 20px;
			position: relative;
			font-size: 16px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			font-weight: 700;
			&::after {
				@include gmi('\e685');
				position: absolute;
				right: 0;
				line-height: 50px;
				width: 50px;
				text-align: center;
				font-size: 28px;
			}
			&.github.link::after {
				@include icomoon('\f140');
				font-size: 22px;
			}
		}
	}
}
/********************view.map **************/
/* #farmer-market-map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
} */
.menu-button {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height:  40px;
	cursor: pointer;
	i {
		position: absolute;
		width: 20px;
		height: 3px;
		top: 19px;
		right: 10px;
		background-color: #ffffff;
		-webkit-transition: all $animation ease-in;
		-o-transition: all $animation ease-in;
		transition: all $animation ease-in;
	}
	i::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		top: -5px;
		background-color: #ffffff;
		-webkit-transition: all $animation ease-in;
		-o-transition: all $animation ease-in;
		transition: all $animation ease-in;
	}
	i::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		top: 5px;
		background-color: #ffffff;
		-webkit-transition: all $animation ease-in;
		-o-transition: all $animation ease-in;
		transition: all $animation ease-in;
	}
}
.menu-button.menu-active {
	i {
		background-color: rgba(white, 0);
	}
	i::before {
		top: 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	i::after {
		top: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
.map-header {
	width: 100%;
	height: 60px;
	background-color: rgba($gradientColor1, 0.6);
	position: absolute;
	top: 0;
	z-index: 99999;
	-webkit-transition: all $animation ease-in;
	-o-transition: all $animation ease-in;
	transition: all $animation ease-in;
	&.menu-active {
		-webkit-transform: translateX(75%);
		-ms-transform: translateX(75%);
		-o-transform: translateX(75%);
		transform: translateX(75%);
	}

}
