/********************************************************************************
#--------------------------------------------------------------------------------
#
# 	Author: Alexandra Berke (aberke)
#
#
	colors:
		beige: #f9f4e5;
		grey: #56555a;
		green: #22b473;#C4E71E
#--------------------------------------------------------------------------------
#********************************************************************************/
$font: 'Roboto', sans-serif;
$highlightColor: rgb(196, 231, 30);
$darkHighlightColor: rgb(117, 183, 85);
$gradientColor1: rgb(37, 136, 140);
$gradientColor2: rgb(71, 169, 173);
$gradientColor3: rgb(129, 179, 181);
$gradientColor4: rgb(182, 195, 195);


$headerHeight : 60px;
$footerHeight : 60px;

$animation: 0.3s;

$menuHeight : 60px;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l5ockb');
	src:url('../fonts/icomoon.eot?#iefixl5ockb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?l5ockb') format('woff'),
		url('../fonts/icomoon.ttf?l5ockb') format('truetype'),
		url('../fonts/icomoon.svg?l5ockb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon-material-icons';
	src:url('../fonts/icomoon-material-icons.eot?fi04dl');
	src:url('../fonts/icomoon-material-icons.eot?#iefixfi04dl') format('embedded-opentype'),
		url('../fonts/icomoon-material-icons.woff?fi04dl') format('woff'),
		url('../fonts/icomoon-material-icons.ttf?fi04dl') format('truetype'),
		url('../fonts/icomoon-material-icons.svg?fi04dl#icomoon-material-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@mixin icomoon($content) {
	content: $content;
  	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
//icomoon material icon pack
@mixin mi($content) {
	content: $content;
  	font-family: 'icomoon-material-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon::before {
	font-family: 'icomoon-material-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #000000;
	font-family: $font; 
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
h1 {
	font-size: 35px;
	line-height: 42px;
	text-align: left;
}
h3 {
	font-size: 18px;
	color: #4c4c4c;
	line-height: 21px;
}
h4 {
	font-size: 16px;
	color: #999999;
	line-height: 20px;
}
a {
	text-decoration: none;
}
input {
	font-family: $font;
	color: #ffffff;
	background-color: transparent;
	border: none;
}
::-webkit-input-placeholder {
   font-weight: 300;
   color: rgba(255,255,255,0.85);
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: 300;
   color: rgba(255,255,255,0.85);  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 300;
   color: rgba(255,255,255,0.85);  
}

:-ms-input-placeholder {  
   font-weight: 300;
   color: rgba(255,255,255,0.85);  
}
.edit.btn {
	&::before {
		@include mi('\e6a1');
	}
}
.search.btn {
	&::before {
		@include mi('\e6fa');
	}
}
.roundBtn {
	cursor: pointer;
	height: 56px;
	width: 56px;
	border-radius: 100%;
	background: $highlightColor;
	-moz-box-shadow:    0px 2px 10px 0px rgba(0,0,0,0.16), 0px 2px 5px 0px rgba(0,0,0,0.26);
	box-shadow:         0px 2px 10px 0px rgba(0,0,0,0.16), 0px 2px 5px 0px rgba(0,0,0,0.26);
	&::before {
		color: #ffffff;
		display: block;
		font-size: 36px;
		line-height: 56px;
		width: 56px;
		text-align: center;
	}
	&.plus::before {
		@include mi('\e648');
	}
}
/********************view ****************/
.view {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: absolute;
	.view-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		-webkit-transition: all $animation ease-in;
		-o-transition: all $animation ease-in;
		transition: all $animation ease-in;
		&.menu-active {
			-webkit-transform: translateX(75%);
			-ms-transform: translateX(75%);
			-o-transform: translateX(75%);
			transform: translateX(75%);
		}
	}
	.map-view header {
		z-index: 999999;
		background-color: rgba($gradientColor2, 0.7);
	}

	.search-active header input {
		display: block;
	}
	header {
		height: auto;
		background-color: $gradientColor2;
		color: #ffffff;
		position: relative;
		.toolBar {
			height: 60px;
			width: 100%;	
			.btn {
				float: right;
				margin: 10px 10px 10px 0;
				width: 40px;
				height: 40px;
				cursor: pointer;
			}			
			.btn::before {
				line-height: 40px;
				font-size: 26px;
				display: block;
				text-align: center;
			}
			.edit.btn::before {
				font-size: 24px;
			}
			.menu {
				position: absolute;
				top: 10px;
				left: 10px;
				width: 40px;
				height:  40px;
				cursor: pointer;
				i {
					position: absolute;
					width: 20px;
					height: 3px;
					top: 19px;
					right: 10px;
					background-color: #ffffff;
					-webkit-transition: all $animation ease-in;
					-o-transition: all $animation ease-in;
					transition: all $animation ease-in;
				}
				i::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					top: -5px;
					background-color: #ffffff;
					-webkit-transition: all $animation ease-in;
					-o-transition: all $animation ease-in;
					transition: all $animation ease-in;
				}
				i::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					top: 5px;
					background-color: #ffffff;
					-webkit-transition: all $animation ease-in;
					-o-transition: all $animation ease-in;
					transition: all $animation ease-in;
				}
			}
			.menu.menu-active {
				i {
					background-color: rgba(white, 0);
				}
				i::before {
					top: 0;
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				i::after {
					top: 0;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
		input {
			font-size: 35px;
			padding: 10px 20px 10px 72px;
			width: 100%;
			box-sizing: border-box;
			background-color: $gradientColor2;
			position: absolute;
			display: none;
		}
		h1 {
			padding-left: 72px;
			padding-bottom: 42px;
			margin-top: 12px;
			color: rgba(255,255,255,0.85); 
		}
		.roundBtn {
			position: absolute;
			bottom: -28px;
			right: 20px;
		}
	}
	main {
		ul.markets {
			font-family: $font;
			padding-top: 25px;
			li {
				padding: 15px 20px 0 72px;
				position: relative;
				cursor: pointer;
				&::before {
					@include mi('\e6a1');
					width: 72px;
					position: absolute;
					left: 0;
					top: 0;
					line-height: 96px;
					font-size: 24px;
					color: $gradientColor4;
					text-align: center;
				}
				h3 {
				}
				h4 {
					padding-top: 5px;
					padding-bottom: 15px;
					// border-bottom: solid 1px $gradientColor4;
				}
			}
		}
	}
}
/********************view.menu ****************/
.menu-wrapper {
	position: absolute;
	width: 75%;
	height: 100%;
	left: -75%;
	background-color: $gradientColor1;
	box-sizing: border-box;
	transition: all $animation ease-in;
	&.menu-active {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	ul {
		color: #ffffff;
		span {
			color: rgba(255,255,255,0.85);
			line-height: 80px;
			font-size: 28px;
			padding-left: 20px;
			font-weight: 300;
			display: block;
			border-bottom: solid 1px $gradientColor2;
		}
		> li,
		> a {
			cursor: pointer;
			color: #ffffff;
			display: block;
			line-height: 50px;
			border-bottom: solid 1px $gradientColor2;
			padding-left: 20px;
			position: relative;
			font-size: 16px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			font-weight: 700;
			&::after {
				@include mi('\e60c');
				position: absolute;
				right: 0;
				line-height: 50px;
				width: 50px;
				text-align: center;
				font-size: 28px;
			}
			&.github.link::after {
				@include icomoon('\f00a');
				font-size: 20px;
			}
		}
	}
}
/********************view.map **************/
#farmer-market-map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
