<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <meta name="description" content="New York City Department of Health BigApps challenge.">
    <meta name="author" content="Alex Berke & Wenting Zhang">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    
    <title>Farmer Market NYC</title>
    
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/admin.css" rel="stylesheet">

    <!-- FONT: Cabin condensed bold -- load from google -->
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    

    <script src="/static/js/vendor/angular.min.js"></script>
    <!-- script src="/static/js/vendor/angular-ui-router.min.js"></script -->
    <!-- google maps api asset with key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFuETDB8Qj8Du3fU7NR6RkRwIOx4_KmdY">
    </script>

    <!-- script src="/static/js/app.js"></script -->

    </head>
    <body>

        <div class="container">
            <div class="view">
                <div>
                    <div class="view-wrapper detail-view" ng-class="{'menu-active': view.menuActive, 'search-active': view.searchActive, }">
                        <header>
                            <div class="toolBar">
                                <div class="back icon"></div>
                                <div class="search icon btn"
                                     ng-click="view.searchActive = !view.searchActive"></div>
                            </div>
                            <input type="text" placeholder="Search by:"
                                ng-model="searchText"
                                ng-focus="view.searchActive">
                            <h2 ng-click="view.searchActive = !view.searchActive">Rochester/St. Mark's & St. John's Youth Market</h2>
                            <div class="roundBtn edit icon"></div>
                        </header>
                        <main>
                            <div class="market">
                                <div class="address icon">
                                    <h6>address</h6>
                                    <h3>McGolrick Park, Russel St. off Nassau Ave<br>
                                        Kings 11222</h3>
                                </div>
                                <div class="schedule icon">
                                    <h6>schedule</h6>
                                    <table>
                                    <tbody>
                                        <tr>
                                            <th>SUNDAY</th>
                                            <td>Closed</td>
                                        </tr>
                                        <tr>
                                            <th>MONDAY</th>
                                            <td>Closed</td>
                                        </tr>

                                        <tr>
                                            <th>TUESDAY</th>
                                            <td>Closed</td>
                                        </tr>

                                        <tr>
                                            <th>WEDNESDAY</th>
                                            <td>Closed</td>
                                        </tr>

                                        <tr>
                                            <th>THURSDAY</th>
                                            <td>Closed</td>
                                        </tr>

                                        <tr>
                                            <th>FRIDAY</th>
                                            <td>Closed</td>
                                        </tr>

                                        <tr>
                                            <th>SATURDAY</th>
                                            <td>Closed</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div class="season icon">
                                    <h6>season</h6>
                                    <table>
                                    <tbody>
                                        <tr>
                                            <th>YEAR ROUND</th>
                                            <td>radio box here</td>
                                        </tr>
                                        <tr>
                                            <th>START DATE</th>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <th>END DATE</th>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div class="program icon">
                                    <h6>program</h6>
                                    <table>
                                    <tbody>
                                        <tr>
                                            <td>FMNP</td>
                                            <td>Stellar</td>
                                        </tr>
                                        <tr>
                                            <td>EBT</td>
                                            <td>CSWCKS</td>
                                        </tr>
                                        <tr>
                                            <td>WIC</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div class="contact icon">
                                    <h6>contact</h6>
                                    <table>
                                    <tbody>
                                        <tr>
                                            <th>WEBSITE</th>
                                            <td><a target="_blank" href="http://freshconnect.ny.gov/programs">http://freshconnect.ny.gov/programs</a></td>
                                        </tr>
                                        <tr>
                                            <th>CONTACT</th>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <th>PHONE</th>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
                <div ui-view="menu" class="menu-wrapper" ng-class="{'menu-active': view.menuActive}">
                    <ul><span>Farmer Market</span>
                        <li class="map link" ui-sref="view.map" ng-click="view.menuActive = 0">Market Map</li>
                        <li class="dashboard link" ui-sref="view.admin" ng-click="view.menuActive = 0">Dashboard</li>
                        <a class="github link" 
                            ng-href="https://github.com/aberke/eat-healthy-NYC" target="_blank">Contribute</a>
                    </ul>
                </div>
            </div>
        </div>
        
    </body>
</html>










