
<div id='menu-view' ng-controller="MenuController">
  <div class="map-header"  ng-class="{'menu-active': menuActive}">
    <div class="menu-button" 
          ng-class="{'menu-active': menuActive}" 
          ng-click="toggleMenu();"><i></i></div>
  </div>
  <div ui-view="menu"class="menu-wrapper" ng-class="{'menu-active': menuActive}">
      <ul><span>Farmer Market</span>
          <li class="map link" href="/">Market Map</li>
          <li class="dashboard link" href="/admin">Dashboard</li>
          <a class="github link" 
              ng-href="https://github.com/aberke/eat-healthy-NYC" target="_blank">Contribute</a>
      </ul>
  </div>
</div>
<!-- 
<div id='menu-view' ng-controller="MenuController">


  <div id='menu-button' ng-click='toggleMenu();'>
    <div class='menu-button-line'></div>
    <div class='menu-button-line'></div>
    <div class='menu-button-line'></div>
  </div>


  <div id='menu-container'>

    <h1>MENU</h1>

    <a class='menu-item' target='_blank' href='https://github.com/aberke/eat-healthy-NYC' id='contribute'>
      <img src='/static/icon/github-icon-black-32px.png'>
      <h4 class='menu-item-name'>CONTRIBUTE</h4>
    </a>
    <a class='menu-item' target='_blank' href='/admin' id='contribute'>
      <img src='/static/icon/edit-icon.png'>
      <h4 class='menu-item-name'>ADMIN</h4>
    </a>

  </div>
  
</div> -->