<header ng-class="{'edit-mode': editMode==true}">

	<div class="toolBar" style="visibility: hidden">
		<div class="back icon"></div>
		<div class="search icon btn"
			 ng-click="view.searchActive = !view.searchActive"></div>
	</div>
	<div class="preview-wrapper">
		<h2>{{market.name}}</h2>
	</div>
	<div class="edit-wrapper">
		<div class="textarea">
			<textarea placeholder="Add market name" name="" id="" rows="2">{{market.name}}</textarea>
		</div>
	</div>

	<div ng-click="edit()" class="roundBtn edit icon"></div>
	<div ng-click="save()" class="roundBtn finish icon"></div>
</header>

<main ng-class="{'edit-mode': editMode==true}">
	<div class="market">
		<div class="address icon">
			<h6>address</h6>
			<div class="preview-wrapper">
				<h3>
                {{market.location}}<br/>
                {{ market.City + ' '+market.State + ' ' + market.zipcode }}
				</h3>
			</div>
			<div class="edit-wrapper">
				<div class="textarea">
					<textarea name="" id="" rows="2">{{market.location}}</textarea>
					<h6>street address</h6>
				</div>
				<div class="input">
					<input id="city-input" type="text" ng-model="market.county">
					<h6>City</h6>
				</div>
				<div class="input">
					<input id="zipcode-input" type="text" ng-model="market.zipcode">
					<h6>Zipcode</h6>
				</div>
			</div>
		</div>

		<div class="schedule icon">
			<h6>schedule</h6>
			<div class="warning" ng-show="market['bad-hours-data']==true">
				<p>There is not yet machine readable data for this market's schedule.  Please enter market hours data by click the edit button</p>
			</div>
			<table>
				<tr ng-repeat="day in scheduleDays">
					<th>{{scheduleDaysNames[day]}}</th>
					
					<td class="preview-wrapper">9am to 5pm | {{market.days[day]['start']}}</td>
					
					<td class="edit-wrapper">
						<!-- for bad data, it's just {day: string} -->
						<div ng-if="!(market.days[day]['start']&&market.days[day]['end'])">
							{{market.days[day]['text']}}
						</div>

						<input class="day-start-time" type="time" name="" ng-model="market.days[day]['start']">
to
						<input class="day-end-time" type="time" name=""  ng-model="market.days[day]['end']">
					</td>
				</tr>
			</table>
		</div>
		<div class="season icon">
			<h6>season</h6>
			<div class="preview-wrapper">
			<table>
			<tbody>
				<tr>
					<th>YEAR ROUND</th>
					<td>NO</td>
				</tr>
				<tr>
					<th>START DATE</th>
					<td>MAY 12</td>
				</tr>

				<tr>
					<th>END DATE</th>
					<td>SEP 12</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="edit-wrapper">
			<table>
			<tbody>
				<tr>
					<th>YEAR ROUND</th>
					<td>
					<input type="checkbox" name="" id="">
					</td>
				</tr>
				<tr>
					<th>START DATE</th>
					<td>
					<div class="input">
						<input type="date" name="" id="">
					</div>
					</td>
				</tr>

				<tr>
					<th>END DATE</th>
					<td>
					<div class="input">
					<input type="date" name="" id="">
					</div>
					</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		<div class="program icon">
			<h6>program</h6>
			<div class="preview-wrapper">
			<table>
			<tbody>
				<tr>
					<td ng-class="{'selected': market.FMNP}">FMNP</td>
					<td ng-class="{'selected': market.Stellar}">Stellar</td>
				</tr>
				<tr>
					<td ng-class="{'selected': market.EBT}">EBT</td>
					<td ng-class="{'selected': market.CSWCKS}">CSWCKS</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="edit-wrapper">
			<table>
			<tbody>
				<tr>
					<td>
					<label><input type="checkbox" name="" id="" ng-model="market.FMNP">FMNP</label>	
					</td>
					<td>
					<label><input type="checkbox" name="" id="" ng-model="market.Stellar">Stellar</label></td>
				</tr>
				<tr>
					<td>
					<label><input type="checkbox" name="" id="" ng-model="market.EBT">EBT</label>
					</td>
					<td>
					<label><input type="checkbox" name="" id="" ng-model="market.CSWCKs">CSWCKS</label>
					</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		<div class="contact icon">
			<h6>contact</h6>
			<div class="preview-wrapper">
			<table>
			<tbody>
				<tr>
					<th>WEBSITE</th>
					<td><a target="_blank" ng-href="market['Market Link']">{{market['Market Link']}}</a></td>
				</tr>
				<tr>
					<th>CONTACT</th>
					<td>{{market.Contact}}</td>
				</tr>

				<tr>
					<th>PHONE</th>
					<td>{{market.Phone}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="edit-wrapper">
			<table>
			<tbody>
				<tr>
					<th width="30">WEBSITE</th>
					<td width="70">
					<div class="input">
						<input type="text" ng-model="market['Market Link']">
					</div>
					</td>
				</tr>
				<tr>
					<th>CONTACT</th>
					<td><div class="input"><input type="text" ng-model="market.Contact"></div></td>
				</tr>

				<tr>
					<th>PHONE</th>
					<td><div class="input"><input type="number" ng-modle="market.Phone"></div></td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
	</div>
</main>