<header>
    <div class="toolBar">
        <div class="search icon btn" ng-click="searchActive = !searchActive"></div>
    </div>
    <input type="text" placeholder="Search by:"
        ng-model="searchText"
        ng-focus="searchActive">
    <h1 ng-click="searchActive = !searchActive">Dashboard</h1>
    <div class="roundBtn plus icon"></div>
</header>
<main>
    <ul class="markets">
        <li ng-click="goToDetail(entry)" ng-repeat="entry in markets | filter:searchText">
            <h3>{{entry.name}}</h3>
            <h4>
                {{entry.location}}<br/>
                {{ entry.City + ' '+entry.State + ' ' + entry.zipcode }}
            </h4>
        </li>
    </ul>
</main>