<header ng-class="{'edit-mode': editMode==true}">
	<h2>{{market.name}}</h2>
	<div ng-click="edit()" class="roundBtn edit icon"></div>
	<div ng-click="save()" class="roundBtn finish icon"></div>
</header>

<main ng-class="{'edit-mode': editMode==true}">
	<div class="market">
		<div class="address icon">
			<h6>address</h6>
			<div class="preview-wrapper">
				<h3>{{market.location}}</h3>
			</div>
			<div class="edit-wrapper">
				<div class="textarea">
					<textarea name="" id="" rows="2">{{market.location}}</textarea>
					<h6>street address</h6>
				</div>
				<div class="input">
					<input id="city-input" type="text" ng-model="market.county">
					<h6>City</h6>
				</div>
				<div class="input">
					<input id="zipcode-input" type="text" ng-model="market.zipcode">
					<h6>Zipcode</h6>
				</div>
			</div>
		</div>

		<div class="schedule icon">
			<h6>schedule</h6>
			<div style='border:1px solid red' ng-show="market['bad-hours-data']==true">
				<p>TODO: format this</p>
				<p>There is not yet machine readable data for this market's schedule.  Please enter market hours data below!</p>
			</div>
			<input type='time' ng-model='testDate'>
			<table>
			<tbody>
				<tr ng-repeat="day in scheduleDays">
					<th>{{scheduleDaysNames[day]}}</th>
					
					<td class="preview-wrapper">9am to 5pm | {{market.days[day]['start']}}</td>
					
					<td class="edit-wrapper">
						<!-- for bad data, it's just {day: string} -->
						<div ng-if="!(market.days[day]['start']&&market.days[day]['end'])">
							{{market.days[day]['text']}}
						</div>

						<input class="day-start-time" type="time" name="" ng-model="market.days[day]['start']">
to
						<input class="day-end-time" type="time" name=""  ng-model="market.days[day]['end']">
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		<div class="season icon">
			<h6>season</h6>
			<div class="preview-wrapper">
			<table>
			<tbody>
				<tr>
					<th>YEAR ROUND</th>
					<td>NO</td>
				</tr>
				<tr>
					<th>START DATE</th>
					<td>MAY 12</td>
				</tr>

				<tr>
					<th>END DATE</th>
					<td>SEP 12</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="edit-wrapper">
			<table>
			<tbody>
				<tr>
					<th>YEAR ROUND</th>
					<td>
					<input type="checkbox" name="" id="">
					</td>
				</tr>
				<tr>
					<th>START DATE</th>
					<td>
					<div class="input">
						<input type="date" name="" id="">
					</div>
					</td>
				</tr>

				<tr>
					<th>END DATE</th>
					<td>
					<div class="input">
					<input type="date" name="" id="">
					</div>
					</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		<div class="program icon">
			<h6>program</h6>
			<div class="preview-wrapper">
			<table>
			<tbody>
				<tr>
					<td>FMNP</td>
					<td>Stellar</td>
				</tr>
				<tr>
					<td>EBT</td>
					<td>CSWCKS</td>
				</tr>
				<tr>
					<td>WIC</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="edit-wrapper">
			<table>
			<tbody>
				<tr>
					<td>
					<label><input type="checkbox" name="" id="" value="value">FMNP</label>	
					</td>
					<td>
					<label><input type="checkbox" name="" id="" value="value">Stellar</label></td>
				</tr>
				<tr>
					<td>
					<label><input type="checkbox" name="" id="" value="value">EBT</label>
					</td>
					<td>
					<label><input type="checkbox" name="" id="" value="value">CSWCKS</label>
					</td>
				</tr>

				<tr>
					<td>
					<label><input type="checkbox" name="" id="" value="value">WIC</label>
					</td>
					<td>&nbsp;
					</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		<div class="contact icon">
			<h6>contact</h6>
			<div class="preview-wrapper">
			<table>
			<tbody>
				<tr>
					<th>WEBSITE</th>
					<td><a target="_blank" href="http://freshconnect.ny.gov/programs">http://freshconnect.ny.gov/programs</a></td>
				</tr>
				<tr>
					<th>CONTACT</th>
					<td>&nbsp;</td>
				</tr>

				<tr>
					<th>PHONE</th>
					<td>&nbsp;</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="edit-wrapper">
			<table>
			<tbody>
				<tr>
					<th width="30">WEBSITE</th>
					<td width="70">
					<div class="input">
						<input type="text">
					</div>
					</td>
				</tr>
				<tr>
					<th>CONTACT</th>
					<td><div class="input"><input type="text"></div></td>
				</tr>

				<tr>
					<th>PHONE</th>
					<td><div class="input"><input type="number"></div></td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
	</div>
</main>